<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Manager</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //custom-theme -->
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"
          media="all"/>
    <link rel="stylesheet" type="text/css" href="../static/css/table-style.css" th:href="@{/css/table-style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/basictable.css" th:href="@{/css/basictable.css}"/>
    <link href="../static/css/component.css" th:href="@{/css/component.css}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="../static/css/style_grid.css" th:href="@{/css/style_grid.css}" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- font-awesome-icons -->
    <link href="../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
<!-- banner -->
<div class="wthree_agile_admin_info">
    <!-- /w3_agileits_top_nav-->
    <!-- /nav-->
    <div class="w3_agileits_top_nav">
        <ul id="gn-menu" class="gn-menu-main">
            <!-- /nav_agile_w3l -->
            <!-- //nav_agile_w3l -->
            <li class="second logo"><h1></i>Password Manager</h1></li>
            <li class="second admin-pic">
            </li>
        </ul>
        <!-- //nav -->
    </div>
    <div class="clearfix"></div>
    <!-- //w3_agileits_top_nav-->
    <!-- /inner_content-->
    <div class="inner_content">
        <!-- /inner_content_w3_agile_info-->

        <!-- breadcrumbs -->
        <div class="w3l_agileits_breadcrumbs">
            <div class="w3l_agileits_breadcrumbs_inner">
                <ul>
                    <li><a href="/portal">Back</a><span>«</span></li>

                    <li>Portals</li>
                </ul>
            </div>
        </div>
        <!-- //breadcrumbs -->

        <div class="inner_content_w3_agile_info two_in">
            <!-- tables -->

            <div class="agile-tables">
                <h3 class="w3_inner_tittle two">Generate Password</h3>
                <form th:action="@{/data/save}" th:object="${portal}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{portalName}">
                    <input type="hidden" th:field="*{description}">
                    <button type="submit" class="btn btn-primary">
                        Wygeneruj
                    </button>
                </form>
            </div>
                <!--copy rights start here-->
                <div class="copyrights">
                    <p>© 2017 Esteem. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                    </p>
                </div>
                <!--copy rights end here-->
                <!-- js -->

                <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
                <script src="js/modernizr.custom.js"></script>

                <script src="js/classie.js"></script>
                <script src="js/gnmenu.js"></script>
                <script>
                    new gnMenu(document.getElementById('gn-menu'));
                </script>
                <!-- tables -->

                <script type="text/javascript" src="js/jquery.basictable.min.js"></script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#table').basictable();

                        $('#table-breakpoint').basictable({
                            breakpoint: 768
                        });

                        $('#table-swap-axis').basictable({
                            swapAxis: true
                        });

                        $('#table-force-off').basictable({
                            forceResponsive: false
                        });

                        $('#table-no-resize').basictable({
                            noResize: true
                        });

                        $('#table-two-axis').basictable();

                        $('#table-max-height').basictable({
                            tableWrapper: true
                        });
                    });
                </script>
                <!-- //js -->
                <script src="js/screenfull.js"></script>
                <script>
                    $(function () {
                        $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

                        if (!screenfull.enabled) {
                            return false;
                        }


                        $('#toggle').click(function () {
                            screenfull.toggle($('#container')[0]);
                        });
                    });
                </script>
                <script src="js/jquery.nicescroll.js"></script>
                <script src="js/scripts.js"></script>

                <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>
</html>